<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Rides main page</title>
</head>
<body>
    <h2>Rides for all!</h2>
    <p>Welcome to our Rides storage. Please select an option</p>
    <ol>
        <li><a href="trails.html" th:href="@{/trails}">View all Trails</a></li>
        <li><a href="riderProfiles.html" th:href="@{/riderProfiles}">View all Rider Profiles</a></li>
        <li><a href="addTrail.html" th:href="@{/addTrail}">Add new Trail</a></li>
        <li><a href="addRiderProfile.html" th:href="@{/addRiderProfile}">Add new Rider Profile</a></li>
    </ol>
</body>
</html>